{% extends 'base.html' %}

{% block title %}{{r.name}}的評價{% endblock %}
{% block content %}
	<h2>{{r.name}}的評價</h2>
	{% if r.comment_set.all %}
	<p>目前共{{ r.comment.set.all|length }}條評價</p>
	<table>
		<tr>
			<td>留言者</td>
			<td>時間</td>
			<td>評價</td>
		</tr>
		{% for c in r.comment_set.all %}
		<tr>
			<td>{{c.visitor}}</td>
			<td>{{c.date_time | date:"Y/F/j"}}</td>
			<td>{{c.content}}</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p>無評價</p>
	{% endif %}
<br><br><hr>
<!-- {% if error %}
	<p style="color: red">* imcomplete. please check again</p>
{% endif %} -->
<!-- {% for err in errors %}
	<p style="color: red">{{ err }}</p>
{% endfor %} -->
{% if f.error %}
	<p style="color:red">please fix below error:</p>
{% endif %}

<form action="" method="post">
{% csrf_token %}
<div class="form-group">
	<label for="visitor">visitor</label>
    {{form.visitor}}
    {{form.visitor.errors}}
</div>
<div class="form-group">
	<label for="email">email</label>
	{{form.email}}
	{{form.email.errors}}
</div>
<div class="form-group">
	<label for="content">content</label>
	{{form.content}}
	{{form.content.errors}}
</div>
<!-- 	<table>
{{ f.as_table }}
 -->
<!-- <tr>
	<td><label for="content">comment</label></td>
	<td>{{ f.content }}</td>
	<td>{{ f.content.errors }}</td>
</tr> -->
<!-- 	</table> -->
	<input type="submit" value="給予評價">
</form>
{% endblock %}