{% extends 'base.html' %}

{% block title %} Restaurants List {% endblock %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<style>
	
	th{text-align: center;}
	div.menus{text-align: center; padding: 40px 15px;}

</style>
{% endblock %}

{% block content %}


	<div class="container">
	<div class="menus">
	<div>
	<h2> Restaurants List </h2>    

		<!-- <h3>No: {{forloop.counter}} </h3> -->
		<table class="table table-bordered table-striped " align="center">
			<thead>
			<tr>
			<th>name</td>
			<th>phone number</th>
			<th>address</th>
			<th>rating</th>
			</tr>
			</thead>
			<tbody>
	{% for r in restaurants %}
			<tr>
			<td><a href="/restaurants/menu/{{r.id}}/">{{r.name}}</a></td>
			<td>{{r.phone_number}}</td>
			<td>{{r.address}}</td>	
			<td><a href="/restaurants/comment/{{r.id}}/">comment</a></td>	
			</tr>
	{% endfor %}
			</tbody>
		</table>

	</div>

	</div></div>
{% endblock %}